nav {
	background: #354052;
}

nav h1 {
	color: white;
}

nav li a {
	color: #a0abbe;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.main-nav {
	margin: 0px -15px;
}

.nav-pills>li>a {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #2f3949;
	  box-shadow: inset 4px 0px 0px 0px #3cdef1;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #337ab7;
}

.caret {
	padding-bottom: 4px;
}

#category-dropdown {
	background: rgb(15, 34, 55);
}

.breadcrumb {
	margin-bottom: 0;
}

.subtle {
	color: #CCC;
	font-style: italic;
}

.title a {
	color: #333;
}

.genre a {
	color: #777;
}

.genre:after {
	content: ", ";
}

.movie-genre:after {
	content: " | "
}

.genre:last-child:after, .movie-genre:last-child:after {
	content: "";
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0;
	color: whiteSmoke;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}