h2, .h2 {
	font-weight: 300;
}

nav {
	background: #354052;
}

nav h1 {
	color: white;
}

nav li a {
	color: #a0abbe;
}

body {
	/*font-family: 'Open Sans';*/
	font-family: 'Lato';
}

body .light {
	font-weight: 300;
	display: inline-block;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.main-nav {
	margin: 0px -15px;
}

.nav-pills>li>a {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 300;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #2f3949;
	box-shadow: inset 4px 0px 0px 0px #3cdef1;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #337ab7;
}

.caret {
	padding-bottom: 4px;
}

#category-dropdown, #certificate-dropdown, #rating-dropdown {
	background: rgb(15, 34, 55);
}

.breadcrumb {
	margin-bottom: 0;
}

.jumbotron {
	min-height: 600px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5, .jumbotron h6, .jumbotron p, .jumbotron a {
	color: white;
}

.jumbotron h1 {
	font-size: 42px;
}

.jumbotron p {
	font-size: 16px;
}

.jumbotron img {
	margin-top: 20px;
}

.subtle {
	color: #CCC;
}

h3 .subtle {
	font-style: initial;
	font-weight: 300;
	font-size: 16px;
}

#filter, #filter a {
	color: gray;
}

.rounded/*, iframe, object, embed*/ {
	border-radius: 8px;
}

.title a {
	color: #333;
}

.genre a {
	color: #777;
}

.genre:after {
	content: ", ";
}

.movie-genre:after {
	content: " | "
}

.genre:last-child:after, .movie-genre:last-child:after {
	content: "";
}

.writtenList:after {
	content: ", ";	
}

.writtenList:nth-last-child(2):after {
	content: " & ";
}

.writtenList:last-child:after {
	content: "";
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0;
	color: whiteSmoke;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.affix {
	top: 0;
}

.jumbotron {
	background: rgba(0,0,0,0.3);
	-webkit-transition: 1s; /* Safari and Chrome */
	transition: 1s;
	-webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out;
}

.faded {
	background: rgba(0,0,0,0.6);
}

article h2 {
	color: #18222b;
}

article p {
	font-weight: 300;
	color: #6d7276;
}

article h3, article p i, .blue, .slick-dots li.slick-active button:before {
	color: #199cfc;
}

.poster, .profile {
	margin-bottom: 20px;
}

.label-film {
	background: #199cfc;
}

.movieList h2 {
	margin-top: 0;
}

.circle {
	width: 100%;
	padding-bottom: 100%;
	border-radius: 50%;
}

#trailer, #soundtrack, #soundtrack-mobile {
	display: none;
}

.clickable {
	cursor: pointer;
}

@media (min-width: 1024px) {

	.slick-slide:nth-child(odd) div {
		margin-right: 15px;
	}

	.slick-slide:nth-child(even) div {
		margin-left: 15px;
	}

}

.media-box {
	background-size: cover !important;
	display: block;
	min-height: 330px;
}

.slick-dots li button:before {
	font-size: 20px;
}

h5 {
	margin-top: 0;
}

#soundtrack, #soundtrackMobile {
	margin-bottom: 20px;
}

#additionalCast {
	display: none;
}